<html>
    <head>
        <meta charset="utf-8">
        <title>Full Friends</title>
    </head>
    <body>
        <h1>Updating ID: {{id}}</h1>
        <form action="/friends/{{id}}" method="post">
            <label for="first_name">First Name:<input type="text" name="first_name"></label>
            <label for="last_name">Last Name:<input type="text" name="last_name"></label>
            <label for="occupation">Occupation:<input type="text" name="occupation"></label>
            <button type="submit" name="update">Update</button>
        </form>
        <form action="/friends/{{id}}/delete" method="post">
            <button type="submit" name="delete">Delete</button>
        </form>
    </body>
</html>
